include ../head.pug
body
    header
      .fixed-top 
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.wd-nav
          .container
           a.navbar-brand(href="/")
            | W
            span i
            | dly
            
    .hero-section
      .bg-image
      .container
        .row
          .col
            .wd-title-small Widly Event Organizer
            .wd-title Get An Unforgottable Event Experience With Us
            .wd-subtitle Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum laudantium in laboriosam consequatur, perspiciatis commodi numquam voluptates cumque. Delectus, recusandae?
            .wd-btn
              a.btn.btn-primary(href="/add", role="button") Add Event
              a.btn.btn-secondary(href="/eventList", role="button") View Events

    .wd-features 
      .container
        .row
          .col-md-4
            .wd-feature
              i.fas.fa-calendar-alt.wd-feature-icon
              .wd-feature-title Event Management
              .wd-feature-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum laudantium in laboriosam consequatur, perspiciatis commodi numquam voluptates cumque. Delectus, recusandae?
          .col-md-4
            .wd-feature
              i.fas.fa-users.wd-feature-icon
              .wd-feature-title User Management
              .wd-feature-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum laudantium in laboriosam consequatur, perspiciatis commodi numquam voluptates cumque. Delectus, recusandae?
          .col-md-4
            .wd-feature
              i.fas.fa-chart-line.wd-feature-icon
              .wd-feature-title Reporting
              .wd-feature-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum laudantium in laboriosam consequatur, perspiciatis commodi numquam voluptates cumque. Delectus, recusandae?

    .wd-about-section
      .container
        .row
          .col-md-6
            .wd-about-content
              .wd-title-small About Agency
              .wd-about-title Make Your Event Idea Come True
              .wd-about-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum laudantium in laboriosam consequatur, perspiciatis commodi numquam voluptates cumque. Delectus, recusandae?
              .wd-about-keys 
                .row 
                  .col 
                    .wd-about-key
                      i.fas.fa-forward
                      span Quality Service
                    .wd-about-key
                      i.fas.fa-forward
                      span Best Price
                    .wd-about-key
                      i.fas.fa-forward
                      span 24/7 Support 
                  .col 
                    .wd-about-key
                      i.fas.fa-forward
                      span Trusted by Thousands
                    .wd-about-key
                      i.fas.fa-forward
                      span 100% Secure
                    .wd-about-key
                      i.fas.fa-forward
                      span Fast Response
          .col-md-6
            .wd-about-img


    .wd-results
      .bg-image 
      .container
        .row
          .col-md-3
            .wd-result
              .wd-result-content
                .wd-result-title 180+ 
                .wd-result-desc Events
          .col-md-3
            .wd-result
              .wd-result-content
                .wd-result-title 15th
                .wd-result-desc Years Experience
          .col-md-3
            .wd-result
              .wd-result-content
                .wd-result-title 250+
                .wd-result-desc Happy Clients
          .col-md-3
            .wd-result
              .wd-result-content
                .wd-result-title 80%
                .wd-result-desc Repeat Clients

    .wd-divider 

    .wd-reasons-section 
      .container
        .row 
          .col-md-6
            .wd-reasons-left-img  
              .top 
              .bottom
          .col-md-6
            .wd-reasons-right-content
              .wd-title-small Why Choose Us
              .wd-title Very Responsible With Your Event
              .wd-subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              .row
                .col-md-5
                  .wd-reason
                    .wd-reason-icon
                      i.fas.fa-user
                    .wd-reason-content
                      .wd-reason-title Friendly Service
                      .wd-reason-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                .col-md-5
                  .wd-reason
                    .wd-reason-icon
                      i.fas.fa-building
                    .wd-reason-content
                      .wd-reason-title The Best Venues
                      .wd-reason-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                .col-md-5
                  .wd-reason
                    .wd-reason-icon
                      i.fas.fa-user-tie
                    .wd-reason-content
                      .wd-reason-title Unique Scenerio
                      .wd-reason-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                .col-md-5
                  .wd-reason
                    .wd-reason-icon
                      i.fas.fa-calendar-alt
                    .wd-reason-content
                      .wd-reason-title Awesome Events
                      .wd-reason-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. 

    .wd-divider

    .latest-events-section
      .container.mt-5
        .row
          .col-md-12
            h2.wd-title.mb-5 Latest Events

        .row#latestEventsRow

script.
   document.addEventListener('DOMContentLoaded', function() {
    axios.get('/api/event').then(function(response) {
      console.log (response.data);
      const events = response.data;
      const latestEvents = events.slice(-2);
      const latestEventsRow = document.querySelector('#latestEventsRow');
      
      latestEvents.forEach(e => {
        const col = document.createElement('div');
        col.className = 'col-md-6 mb-4'; // Adjust column size for two cards
        const event = e.event;
        col.innerHTML = `
          <div class="card text-white bg-dark mb-4">
            <div class="card-header">
              <i class="fas fa-calendar-alt wd-feature-icon"></i>
            </div>
            <div class="card-body">
                 <h5 class="card-title">${event.eventName}</h5>
              <p class="card-text"><span>Date & Time:</span> ${event.eventDateTime}</p>
              <p class="card-text"><span>Venue:</span> ${event.venue}</p>
              <p class="card-text"><span>Contact:</span> ${event.contactPhone}</p>
              <p class="card-text"><span>Seat:</span> ${event.seat}</p>
            </div>
          </div>
        `;
        latestEventsRow.appendChild(col);
      });
    })
    .catch(function(error) {
      console.log(error);
    });
  });